@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #ccc;
}

#navbar {
  background-color: #F1F1F1;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#navbar h1 {
  font-size: 40px;
  margin: 5px;
}

.card {
  width:  20vw;
  height: auto;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  
  
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.92em;
  margin: 1em;
}

.card .img {
  width: 10em;
  height: 14em;
  background: white;
  border-radius: 15px;
  margin: auto;
  background-image: url(Wellington.jpg);
  background-position: center;
  background-size: cover;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;

}

.caixa {
  width: 32vw;
  height: auto;
  background-color: #F1F1F1;
  text-align: justify;
  padding: 0.8em 1.7em;
  margin-top: 0%;
  border-radius: 16px;

}

footer {
  background-color: #F1F1F1;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }
}

@media only screen and (max-width: 425px) {
  #navbar{
    width: auto;
    height: auto;
  }

  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }
}
