@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #81689D;
}

#navbar {
  background-color: #1F2544;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar h1 {
  font-size: 40px;
  margin: 5px;
  color: #81689D;
}

.card {
  width:  20vw;
  height: 60vh;
  background: #1F2544;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  
  
}

.card span {
  font-weight: bold;
  color: #81689D;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: #81689D;
  display: block;
  text-align: center;
  font-size: 0.98em;
  margin: 1em;
}

.card .img {
  margin-top: 25px;
  width: 15em;
  height: 16em;
  background: white;
  border-radius: 8px;
  margin: auto;
  background-image: url(Wellington.jpg);
  background-position: center;
  background-size: cover;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: #81689D;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}


.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;

}

.caixa {
  font-weight: 400;
  width: 32vw;
  height: auto;
  background-color: #1F2544;
  text-align: justify;
  padding: 0.8em 1.7em;
  margin-top: 0%;
  border-radius: 16px;
  color: #81689D;

}

footer {
  background-color: #1F2544;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  color: #81689D;
}

#meus-projetos{
  font-size: 40px;
  display: flex;
  margin-top: 4%;
  margin-left: 43%;
  font-weight: bold;
  color: #1F2544;
  

}

.projetos{
  display: flex;
  justify-content: space-evenly;

}

@media only screen and (max-width: 1440px) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }

  .projetos{
    display: block;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  #navbar{
    width: auto;
    height: auto;
  }

  .container {
      display: flex;
      flex-direction: column;
  }

  .caixa {
      width: auto;
      height: auto;
  }

  .card {
      width: auto;
      height: auto;
  }

  footer {
    position: relative;
  }

  .projetos{
    display: block;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
